body {
  background-color: rgb(196, 188, 179);
}

div {
  margin: auto;
  width: 50%;
  border: 3px solid transparent;
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 7px 29px;
  margin-top: 20%;
  background-color: antiquewhite;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  color: rgb(51, 48, 48);
  font-style: italic;
  background-color: rgba(201, 187, 187, 0.199);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 7px 29px;
}
